.ecosystem-breakdown {
    text-align: left;
}

.ecosystem-breakdown-header {
    align-items: baseline;
}

.highcharts-graph {
    width: 95%;
    margin: 0 auto;
}

.gallery-ecosystem-logo {
    height: 45px;
    border-radius: 0.75vw;
}